Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Hotels.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <!-- Hotel can appear multiple times -->
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name must appear first -->
              <xs:element name="Name" type="xs:string"/>

              <!-- Phone must appear at least once; many allowed -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

              <!-- Address element (child elements must appear in the order shown) -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                  </xs:sequence>
                  <!-- required attribute on Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>              <!-- Rating is optional -->
              <xs:element name="Rating" type="xs:string" minOccurs="0"/>
            </xs:sequence>

            <!-- Hotel attributes: 'id' required, 'notes' optional -->
            <xs:attribute name="id" type="xs:string" use="required"/>
            <xs:attribute name="notes" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>