Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Hotels.xsd
     XML Schema for the Hotels example (follows the tree in the assignment).
     Save this on your public repo and host it (e.g., GitHub Pages). -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <!-- Phone may appear multiple times -->
              <xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                  </xs:sequence>
                  <!-- NearestAirport is required attribute according to diagram (implements as required attribute of Address) -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>              <!-- Rating is optional element -->
              <xs:element name="Rating" type="xs:string" minOccurs="0"/>
            </xs:sequence>
            <!-- Example of a required attribute on Hotel (e.g., 'id' required). Adjust name if needed. -->
            <xs:attribute name="id" type="xs:string" use="required"/>
            <!-- Optional attribute example -->
            <xs:attribute name="notes" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>